.me{
    height: 200px;
    background-color: #E3B6B6
}
ul {
    list-style-type: none;

  }
.text{
    text-align: center;
    justify-content: center;
}

.sideNav {
    width: 300px;
    height: 100rem;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
}
a{
    color: black;
}