body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%
}
.projectContainer{
  border-color:#E3B6B6;
}

/* Webkit for changing scrollbar color */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color:#e3b6b6;
  border-radius: 10px;
  border: 2px solid #e3b6b6;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
  background-color: #ffffff; 
}